// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Sweet alert 2
@import "~sweetalert2/src/sweetalert2.scss";

@import "./fonts.scss";


[v-cloak] > * { display:none }

body {
    font-family: GoogleSans,sans-serif; 
    background-color: white;
}

.btn, .dropdown-menu, .card {
    border-radius: 0;
}