@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/Helvetica/HelveticaNeue.ttf');
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/Helvetica/HelveticaNeue-Light.ttf');
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/Helvetica/Helvetica-Neu-Bold.ttf');
}

@font-face {
    font-family: 'GoogleSans';
    src: url('../fonts/GoogleSans/GoogleSans-Regular.ttf');
}
@font-face {
    font-family: 'GoogleSansLight';
    src: url('../fonts/GoogleSans/GoogleSans-Medium.ttf');
}
@font-face {
    font-family: 'GoogleSansBold';
    src: url('../fonts/GoogleSans/GoogleSans-Bold.ttf');
}