@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/Helvetica/HelveticaNeue.ttf');
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/Helvetica/HelveticaNeue-Light.ttf');
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/Helvetica/Helvetica-Neu-Bold.ttf');
}